a {text-decoration: none;}
a:hover {text-decoration: none; color: black;}
a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
.logo-holder {
	text-align:center;
	margin-top:30px;
}
.logo {
	display:inline-block;
}
.navbar {
	position:fixed;
	float:left;
	width:290px;
	overflow:hidden;
	background:white;
	color:#2f2f2f;
	font-size:12px;
	font-weight:bold;
	margin-bottom:none;
}
.nav {
	margin-top:40px;
	padding:40px;
	height:100%;
	font-family:'Montserrat', sans-serif;
}
li.dropdown {
	color:#626262;
}
hr {
	height:1px;
}
hr.liline {
	background-color:#ededed;
	margin-top:20px;
	margin-bottom:20px;
}
.nav-footer {
	text-align:center;
	margin-top:500px;
	padding-bottom:20px;
	padding:15px;
}
.nav-footer-txt {
	color:#939393;
	font-weight:lighter;
	font-family:'Montserrat', sans-serif;
	font-size:11px;
	padding-top:20px;	
}
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
section {
	background:#FFFBF5;
	overflow:hidden;
	float:right;
	width:90%;
	height:100%;
}
section .container {
	background:#FFFBF5;
	font-family:'LotteMartDream';
}
section .container-title {
	font-family:'Gugi';
	font-size:50px;
	line-height:70px;
	margin-left:180px;
}
section .container-content {
	font-family:'LotteMartDream';
	font-size:18px;
	margin-left:180px;
	line-height:22px;
}
section .container-content2 {
	font-family:'LotteMartDream';
	font-size:18px;
	margin-left:180px;
	margin-bottom:150px;
	line-height:22px;
}
.middle-line {
	width:1000px;
	margin-top:150px;
	margin-bottom:150px;
	margin-left:180px;
	background-color:black;
}