a {text-decoration: none;}
a:hover {text-decoration: none; color: black;}
a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
.logo-holder {
	text-align:center;
	margin-top:30px;
}
.logo {
	display:inline-block;
}
.navbar {
	position:fixed;
	width:290px;
	overflow:hidden;
	background:white;
	color:#2f2f2f;
	font-size:12px;
	font-weight:bold;
	margin-bottom:none;
	display:inline-block;
}
.nav {
	margin-top:40px;
	padding:40px;
	height:100%;
	font-family:'Montserrat', sans-serif;
}
li.dropdown {
	color:#626262;
}
hr {
	background-color:#ededed;
	border:1px;
	height:2px;
}
hr.liline {
	background-color:black;
	margin-top:20px;
	margin-bottom:20px;
	border:2px;
	height:2px;
}
.nav-footer {
	text-align:center;
	margin-top:500px;
	padding-bottom:20px;
	padding:15px;
}
.nav-footer-txt {
	color:#939393;
	font-weight:lighter;
	font-family:'Montserrat', sans-serif;
	font-size:11px;
	padding-top:20px;	
}
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
section {
	background:#F7F7FB;
	overflow:hidden;
	display:inline-block;
	position:absolute;
		left:290px;
		right:0;
}
section .container {
	background:#F7F7FB;
	font-family:'LotteMartDream';
	width:1100px;
	margin:auto;
}
section .wraper {
	padding-top:100px;
	padding-bottom:100px;
	display:flex;
	text-align:center;
	justify-content:center;
}
section .container-title {
	font-family:'Gugi';
	font-size:50px;
	line-height:70px;
	justify-content:flex-start;
	text-align:left;
}
section .container-content {
	font-family:'LotteMartDream';
	font-size:18px;
	line-height:22px;
	text-align:left;
	justify-content:flex-start;
	margin-top:200px;
	margin-bottom:200px;
}
section .container-content2 {
	font-family:'LotteMartDream';
	font-size:18px;
	margin-top:200px;
	margin-bottom:150px;
	line-height:22px;
	text-align:left;
	justify-content:flex-start;
}
.line {
	width:1100px;
	margin-top:50px;
	margin-bottom:50px;
	background-color:black;
	text-align:center;
	border:2px;
	height:2px;
}